.calc-body {
  max-width: 500px;
  width: 98%;
  margin: 0 auto;
  padding: 16px;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  background-color: $light_gray;
  border-radius: 3px;
  button {
    background-color: #fff;
    span {
      font-size: calc(2vw + 16px);
    }
    &.alt {
      background-color: lighten($light_gray, 5);
    }
  }
  .calc-display {
    flex: 0 0 100%;
  }
  .calc-inputs, .calc-operators {
    display: flex;
    flex-wrap: wrap;
    margin: -8px;
    button {
      margin: 8px;
    }
  }
  .calc-inputs {
    flex: 1 1 100%;
    button {
      padding: 0 0 calc(25% - 16px) 0;
      width: calc(25% - 16px);
    }
  }
  // .calc-operators {
  //   flex: 1 1 20%;
  //   button {
  //     padding: 0 0 calc(100% - 16px) 0;
  //     width: calc(100% - 16px);
  //   }
  // }
}