.calc-body {
  max-width: 500px;
  width: 98%;
  // margin: 0 auto;
  padding: 24px;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  background-color: $light_gray;
  border-radius: 3px;
  button {
    background-color: #fff;
    span {
      font-size: 30px;
      @media (max-width: 700px) {
        font-size: calc(2vw + 16px);
      }
    }
    &.alt {
      background-color: lighten($light_gray, 5);
      &:hover {
        color: #302B2C;
        background-color: darken($light_gray, 5);
      }
    }
  }
  .calc-display {
    flex: 0 0 100%;
    margin-bottom: 24px;
    div {
      background-color: $dark_gray;
      color: $approved;
      border-radius: 3px;
      padding: 16px;
      text-align: right;
      min-height: 57px;
      width: 100%;
    }
  }
  .calc-inputs, .calc-operators {
    display: flex;
    flex-wrap: wrap;
    margin: -8px;
    button {
      margin: 8px;
    }
  }
  .calc-inputs {
    flex: 1 1 100%;
    button {
      padding: 0 0 calc(25% - 16px) 0;
      width: calc(25% - 16px);
    }
  }
}