.calc-body {
  max-width: 500px;
  width: 98%;
  margin: 0 auto;
  padding: 16px;
  display: flex;
  flex-wrap: wrap;
  background-color: $light_gray;
  border-radius: 3px;
  button {
    background-color: #fff;
    &.btn_square {
      // padding: 0 0 25% 0;
      // width: 25%;
    }
  }
  .calc-display {
    flex: 0 0 100%;
  }
  .calc-inputs, .calc-operators {
    display: flex;
    flex-wrap: wrap;
    margin: -8px;
    button {
      margin: 8px;
    }
  }
}